Package: {{name}}
Version: {{version}}{{versionSufix}}
Section: {{section}}
Priority: {{priority}}
Architecture: {{architecture}}
Depends: {{depends}}
Maintainer: {{{maintainer}}}
Description: {{{description}}}
